.search-column{
  background-color:	#D3D3D3;
}
h2 {
  font-size: 16px;
  text-align: center;
}

.bg-primary  {
  background-image: linear-gradient(rgb(20, 6, 221), rgb(125, 181, 247));
}

p {
  font-size: 16px;
  text-align: center;
}

/*.bg-primary {
  background-color: rgb(204, 204, 218);
}

.five-day-forecast  {
  background-color: rgb(204, 204, 218);
}*/

.list-group-item{
  line-height: 0.5;
  border: none;
}
.card-body{
  flex:auto
}

span.severe{
  padding: 3px;
  background-color: red;
  color:white;
}

span.moderate{
  padding: 3px;
  background-color: yellow;
}

span.favorable{
  padding: 3px;
  background-color: green;
  color:white;
}